In [8]:
import pandas as pd

X = pd.read_csv("../data/processed/sequences.csv")
y = pd.read_csv("../data/processed/labels.csv")

In [9]:
X.shape
y.shape

(106440, 1)

In [10]:
X.head()
y.head()

   label
0     22
1     21
2      3
3     21
4     21

In [11]:
(X != 0).sum(axis=1).describe()

count    106440.000000
mean         12.391601
std           3.681633
min           3.000000
25%          11.000000
50%          14.000000
75%          15.000000
max          15.000000
dtype: float64